<ul class="nav nav-tabs">
    <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="/libros" class="nav-link">Libros</a>
    </li>
    <li class="nav-item">
        <a routerLink="/clientes" class="nav-link">Clientes</a>
    </li>
    <li class="nav-item">
        <a routerLink="/agenda" class="nav-link">Agenda</a>
    </li>
    <li class="nav-item">
        <a routerLink="/about" class="nav-link">Acerca de mí</a>
    </li>
</ul>