<div class="container">

    <div class="d-flex justify-content-center mt-5">
        <h1>Perfil del desarrollador</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <img src="/assets/images/foto.jpg" alt="no se" id="mi-foto">
        
        <div class="m-5">    
            <div class="d-flex mb-3">
                <label class="bold">Nombre: </label>
                <span class=""> Fernanda Montserrat Hernández Ávila</span>
            </div>
            <div class="d-flex mb-3">
                <label class="bold">Fecha de nacimiento: </label>
                <span class=""> 04 de Julio de 2003</span>
            </div>
            <div class="d-flex mb-3">
                <label class="bold">Carrera: </label>
                <span class=""> Desarrollo Y Gestión de Software</span>
            </div>
            <div class="d-flex mb-3">
                <label class="bold">Color favorito: </label>
                <span class="">Rojo</span>
            </div>
            <div class="d-flex mb-3">
                <label class="bold">Serie favorita: </label>
                <span class="">One Piece</span>
            </div>
            <div class="d-flex mb-3">
                <label class="bold">Pokémon favorito: </label>
                <span class="">Flaaffy</span>
            </div>
            
        </div>
    </div>

</div>
