

h1{
    text-align: center;
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: solid 2px royalblue;
}

table{
    text-align: center;
}

button{
    color: aliceblue;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

button:hover{
    color: aliceblue;
}

.sel{
    background-color: royalblue;
}

.sel:hover{
    background-color: rgb(14, 15, 77);
}
